.PCDetailMenu {
  height: 2rem;
  width: 100%;
  text-transform: capitalize;
  font-size: 1rem;
  color: rgb(240, 245, 240);
  display: flex;
  align-items: center;
  padding: .5rem 0px;
  justify-content: space-between;
}

.previousMenu {
  margin-left: 1rem;
}

.nextMenu {
  margin-right: 1rem;
  text-align: right;
}

.PCMenuTitle, .screenArrowPC, .PCDropdownOption {
  cursor: pointer;
}

.PCMenuTitle {
  width: 8rem;
  text-align: center;
  margin: auto 0;

}

.screenArrowPC {
  font-weight: 900;
  font-size: 2rem;
  width: 2rem;
}

.PCDropdown {
  width: 100%;
  /* background: rgb(80, 100, 80); */
  color: rgb(240, 245, 240);
  position: relative;
  text-align: center;
  z-index: 7;
  /* 1/2 mobile menu height + 1/2 days height + (((dropdown option height + (dropdown option padding * 2)) * number of dropdown options) / 2) */
  top: calc(1.5rem + calc(calc(calc(1.2rem + calc(.5rem * 2)) * 1)) / 2);
  /* detail width - (total width of menubar elements / 2) */
  margin-left: calc(-34vw - calc(calc(34vw - 14rem) /2));
}

.PCDropdownOption {
  height: 1.2rem;
  padding: .5rem 0px;
}

.PCDropdownOption:hover {
  background: rgb(50, 45, 30);
}