.GameScreen {
  height: 94vh;
  width: 100vw;
  background: rgb(240, 245, 250);
}

.flex-container {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.CommerceColumn {
  width: 66vw;
}
