.Store {
  width: 100%;
  height: 70%;
  margin: auto;

}

.StoreMenuBar {
  height: 2.5rem;
  background: rgb(120, 115, 125);
  font-family: "Roboto Slab", serif;
  color: white;
  display: flex;
  align-items: center;
}

.StoreName {
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-left: 1rem;
  width: 50%;
}

.Inspect {
  cursor: pointer;
}

.CoinSymbol {
  color: gold;
  font-weight: 800;
}

.GoldDisplay {
  padding-left: 1rem;
  font-size: 1.2rem;
  width: 15%;
}

.FilterGroup {
  margin-left: auto;
  transition: all 40ms 60ms ease-out;
}

.StoreItemTypeFilter {
  width: 3rem;
}