.Store {
  width: 100%;
  height: 70%;
  margin: auto;

}

.StoreMenuBar {
  height: 2.5rem;
  background: rgb(120, 115, 125);
  font-family: "Roboto Slab", serif;
  color: white;
  display: flex;
  align-items: center;
}

.StoreName {
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-left: 1rem;
  width: 50%;
}

.Inspect {
  cursor: pointer;
}

.CoinSymbol {
  color: gold;
  width: 1.2rem;
  font-weight: 800;
}

.GoldDisplay {
  padding-left: 1rem;
  font-size: 1.2rem;
  margin-right: 1rem;
  display: flex;
}

.StoreGold {
  width: 6rem;
  display: flex;
  justify-content: flex-end;
}

.FilterGroup {
  margin-left: auto;
  display: flex;
  margin-right: 1rem;
  transition: all 40ms 60ms ease-out;
}

.StoreItemTypeFilter {
  width: 5rem;
}

.StoreItemTypeFilter option {
  color: rgb(30, 35, 30);
}

.incrementButtons {
  width: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  position: relative;
  bottom: 1px;
}

.incrementButton {
  width: 1rem;
  border-radius: .5rem;
  line-height: 1rem;
  height: 1rem;
  text-align: center;
}

.incrementIcon {
  position: relative;
  bottom: 1px;
}

.MobileStoreHeadbar .StoreGold {
  margin-left: auto;
}

.MobileDetailContainer {
  width: 100%;
  background: rgb(220, 225, 215);
  height: 0.1%;
  transition: all 40ms 60ms ease-out;
  border-top: 1px solid rgba(30, 35, 30, .6);
}

.mobileDetailActive {
  height: 30%;
  padding: 1rem 0px;
  transition: all 40ms 60ms ease-out;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.itemDetailName {
  flex-basis: 100%;
  font-size: 1.6rem;
  text-align: center;
}

/* mobile styles */
@media only screen and (max-width: 650px) {
  .Store {
    height: 82vh;
    display: flex;
    flex-direction: column;
  }

  .StoreMenuBar {
    min-height: 10%;
  }

  .incrementButtons {
    width: 4rem;
  }

  .incrementButton {
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
  }

  .StoreItemTypeFilter {
    width: 8rem;
    font-size: 1.2rem;
  }
}

/* tablet styles */
@media only screen and (max-width: 1056px) {
  .StoreMenuBar {
    height: 10%;
  }

  .Inspect {
    font-size: 1.2rem;
  }

  .GoldDisplay {
    font-size: 1.6rem;
  }

  .GoldDisplay .CoinSymbol {
    margin-right: .5rem;
  }
}