.MobileMenu {
  height: 8vh;
  width: 100%;
  text-transform: capitalize;
  font-size: 1.4rem;
  background: rgb(60, 70, 60);
  border-bottom: 1px solid rgb(30, 35, 30);
  color: rgb(240, 245, 240);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.screenArrow {
  font-weight: 900;
  width: 2rem;
}

.previousScreen {
  margin-left: 1rem;
}

.nextScreen {
  margin-right: 1rem;
}

.mobileTitle {
  width: 8rem;
  text-align: center;
}

.MobileDropdown {
  width: 100%;
  position: relative;
  text-align: center;
  top: 7vh;
  margin-left: calc(-100vw - calc(calc(100vw - 14rem) / 2));
}