.MobileMenu {
  height: 8vh;
  width: 100%;
  text-transform: capitalize;
  font-size: 1.4rem;
  background: rgb(60, 70, 60);
  color: rgb(240, 245, 240);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.screenArrow {
  font-weight: 900;
  width: 2rem;
}

.previousScreen {
  margin-left: 1rem;
}

.nextScreen {
  margin-right: 1rem;
  text-align: right;
}

.mobileTitle {
  width: 8rem;
  text-align: center;
  margin: auto 0;
}

.MobileDropdown {
  width: 100%;
  background: rgb(80, 100, 80);
  color: rgb(240, 245, 240);
  position: relative;
  text-align: center;
  top: calc(4vh + 3rem);
  margin-left: calc(-100vw - calc(calc(100vw - 14rem) / 2));
}

.mobileDropdownOption {
  height: 1.6rem;
  padding: .2rem 0px;
}
