.AdventurerDetail {
  padding: 1rem;
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.title-bar, .primary-stats-bar, .adventurerDetailsView, .adventurerInventoryDetails {
  margin-bottom: 1rem;
}

.title-bar {
  display: flex;
  font-size: 1.2rem;
}

.back-button {
  cursor: pointer;
  font-weight: 800;
  margin-right: 2rem;
}

.primary-stats-bar {
  display: flex;
  width: 100%;
  height: 3rem;
}

.primary-cascade {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.primary-cascade > div, .adventurerDetailsView > div, .adventurerInventoryDetails > div {
  margin-bottom: .5rem;
}

.adventurerInventoryHeadline {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

.adventurerInventoryDetails {
  color: rgb(249, 245, 110);
}

.AdventurerDetail .adventurerClassIcon {
  display: block;
}


.adventurerDetailsView {
  display: flex;
  flex-wrap: wrap;
  width: 18rem;
}

.adventurer-combat-log {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

/* mobile styles */
@media only screen and (max-width: 650px) {
  .AdventurerDetail {
    padding: 0px;
    padding-top: 1rem;
  }

  .title-bar {
    font-size: 1.4rem;
  }

  .back-button {
    padding-right: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    line-height: 1.4rem;
  }

  .back-button, .adventurerInventoryHeadline, .primary-stats-bar, .adventurerDetailsView, .adventurerInventoryDetails, .adventurer-combat-log {
    padding-left: 1rem;
  }
}