.AdventurerDetail {
  padding: 1rem;
  height: 100%;
  width: 100%;
}

.title-bar {
  display: flex;
  font-size: 1.2rem;
}

.back-button {
  cursor: pointer;
  font-weight: 800;
  margin-right: 2rem;
}

/* mobile styles */
@media only screen and (max-width: 650px) {
  .AdventurerDetail {
    padding: 0px;
    padding-top: 1rem;
  }

  .back-button {
    padding-left: 1rem;
  }
}