.SupplierBuyButton {
  height: .8rem;
  width: 2rem;
  border-radius: 3px;
}

.supplierBuyButtonIcon {
  font-size: .8rem;
  /* font-family: "Roboto Slab", serif;
  text-align: center; */
}


/* tablet styles */
@media only screen and (max-width: 1056px) {
  .SupplierBuyButton {
    height: 1.1rem;
    width: 2.4rem;
    border-radius: 5px;
  }

  .supplierBuyButtonIcon {
    font-size: 1rem;
  }
}

/* mobile styles */
@media only screen and (max-width: 650px) {
  .SupplierBuyButton {
    height: 1rem;
    width: 2.1rem;
    border-radius: 5px;
  }

  .supplierBuyButtonIcon {
    font-size: 1rem;
  }
}

