.SupplierBuyButton {
  height: .8rem;
  width: 1.4rem;
  border-radius: 3px;
  background: rgb(110, 140, 110);
  color: white;
  border: 1px solid rgb(250, 252, 250);
  cursor: pointer;
  transition: all 40ms 60ms ease-out;
}

.SupplierBuyButton:hover {
  border: 1px solid rgb(100, 180, 100);
  background: rgb(200, 220, 200);
}

.SupplierBuyButton:active {
  border: 1px solid rgb(30, 40, 30);
  background: rgb(140, 170, 140);
}

.supplierBuyButtonIcon {
  font-size: .8rem;
  font-family: "Roboto Slab", serif;
  text-align: center;
}