.ProfileViewer {
  height: 94vh;
  width: 100%;
  position: relative;
  bottom: 94vh;
  background: rgb(240, 245, 250);
  display: flex;
  justify-content: space-between;
}

.ProfileForm {
  width: 40%;
  height: 12rem;
}

.input-group {
  padding: 1rem;
  margin: 1rem;
  width: 80%;
  height: 2rem;
}

.input-group input, .input-group select {
  color: black;
}

.item-label {
  width: 3rem;
  margin-right: 1rem;
}

.CloseButton {
  height: 6rem;
  width: 6rem;
  margin: 2rem;
  font-size: 4rem;
  line-height: 6rem;
  text-align: center;
  font-weight: 800;
  font-family: "Roboto Slab", serif;
  color: rgba(30, 35, 30, 60);
}
