.ProfileViewer {
  height: 94vh;
  width: 100%;
  position: relative;
  bottom: 94vh;
  background: rgb(240, 245, 250);
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  font-family: "Roboto Slab", serif;
}

.ProfileForm {
  width: 50%;
  height: 12rem;
  margin-top: 2rem;
  align-self: center;
}

.input-group {
  padding: 1rem;
  margin: 1rem;
  width: 80%;
  height: 2rem;
}

.input-group input, .input-group select {
  color: black;
}

.item-label {
  width: 3rem;
  margin-right: 1rem;
}

.CloseButton {
  cursor: pointer;
  align-self: flex-end;
  height: 6rem;
  width: 6rem;
  margin: 2rem;
  font-size: 6rem;
  line-height: 6rem;
  text-align: center;
  font-weight: 800;
  color: rgba(30, 35, 30, .4);
}

.CloseButton:hover {
  color: rgba(30, 35, 30, .7);
}

.profile-submit {
  margin: 2rem;
  padding: .5rem;
  border-radius: 12px;
}

/* tablet styles */
@media only screen and (max-width: 1200px) {
  .ProfileViewer {
    height: 90vh;
    bottom: 90vh;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }
  
  .CloseButton {
    align-self: flex-end;
  }

  .ProfileForm {
    width: 80%;
  }

  .input-fields-area {
    display: flex;
    flex-direction: column;
  }

  .input-group {
    height: 6rem;
  }

  .item-label {
    font-size: 2.4rem;
  }

  #nickname {
    width: 100%;
  }

  .input-text {
    font-size: 2.4rem;
    margin: 1rem 0px;
  }

  .input-checkbox {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
  }

  .profile-submit {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 650px) {
  .ProfileForm {
    margin-top: 0px;
  }

  .item-label {
    padding-bottom: .2rem;
    font-size: 1.4rem;
  }

  .input-group {
    height: 4rem;
  }

  .input-text {
    font-size: 1.4rem;
  }

  .input-group, .profile-submit {
    margin: 1rem 0;
  }

  .profile-submit {
    align-self: center;
    font-size: 1.8rem;
  }

  .input-checkbox {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: .5rem;
  }
}
