.coin-outer, .coin-inner {
  background: gold;
}

.coin-outer {
  height: .9rem;
  width: .9rem;
  border-radius: .5rem;
  border: 1px solid darkgoldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin-inner {
  height: .5rem;
  width: .5rem;
  border-radius: .3rem;
  border: 1px solid darkgoldenrod;
}