.coin-outer, .coin-inner {
  background: gold;
}

.coin-outer {
  height: 1rem;
  width: 1rem;
  border-radius: .5rem;
  border: 1px dashed darkgoldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin-inner {
  height: .6rem;
  width: .6rem;
  border-radius: .3rem;
  border: 2px solid darkgoldenrod;
}