.adventurerDisplay {
  width: 100%;
  height: 4rem;
  display: flex;
  padding: 1rem;
  font-family: "Lato", sans-serif;
}

.adventurerClassIcon {
  font-size: 2.4rem;
  font-weight: 600;
  min-width: 2rem;
  margin-right: 1rem;
  text-transform: capitalize;
  line-height: 2.4rem;
  align-self: center;
  font-family: 'Niconne', cursive;
  text-shadow: 1px 1px 3px rgb(30, 40, 30);
}

.adventurerDetails {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.adventurerClass {
  min-width: 5rem;
  margin-right: 1rem;
}

.adventurerName {
  min-width: 11rem;
  margin-right: 1rem;
}

.adventurerStat {
  color: rgb(140, 240, 120)
}

.thief {
  color: rgb(120, 180, 200)
}

.bard {
  color: rgb(200, 120, 180);
}

.soldier {
  color: rgb(180, 180, 180)
}

.adventurerStatGroup, .adventurerStatGroupWide {
  display: flex;
  margin-right: 1rem;
}

.adventurerStatGroup {
  width: 5rem;
}

.adventurerStatGroupWide {
  width: 7rem;
}

.adventurerName, .adventurerStatLabel {
  color: rgb(230, 245, 230);
}

.adventurerStatLabel {
  min-width: 2rem;
  margin-right: .5rem;
  font-weight: 600; 
}

.adventurerDungeonIndicator {
  width: 2rem;
  padding-right: .5rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  align-self: center;
}

.dungeonIcon {
  margin: auto;
  color: rgb(230, 245, 230);
}


/* mobile styles */
@media only screen and (max-width: 650px) {
  .adventurerDisplay {
    height: 8rem;
    width: calc(100% - 2rem);
  }

  .adventurerStatGroupWide {
    width: 100%;
  }

  .adventurerClassIcon {
    display: none;
  }
}