.Suppliers {
  height: 25vh;
  width: 100%;
}

.suppliersContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 110%;
  overflow-x: scroll;
  scroll-padding-right: 1rem;
  scroll-snap-type: x mandatory;
  z-index: 4;
}

.spacer {
  height: 100%;
  min-width: 1px;
}

.suppliersTabletAdjust {
  height: 100%;
}

.mobileSuppliers {
  height: 78vh; 
}

.nonPcContainer {
  height: 100%;
}

.mobileContainer {
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding-bottom: 1rem;
}

.mobileSpacer {
  min-height: 1px;
  margin-top: 1rem;
}

.tabletAdjust {
  height: 22%;
}

