.Suppliers {
  height: 25vh;
  width: 100%;
  background: rgb(100, 120, 100);
}

.suppliersContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 110%;
  overflow-x: scroll;
  scroll-padding-right: 1rem;
  z-index: 4;
}

.spacer {
  height: 100%;
  min-width: 1px;
}


/* tablet styles */
@media only screen and ( max-width: 1024px) {
  .suppliersContainer {
    height: 100%;
  }
}