.Suppliers {
  height: 26%;
  width: 100%;
  background: rgb(100, 120, 100);
}

.suppliersContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 110%;
  overflow-x: scroll;
  scroll-padding-right: 1rem;
}

.spacer {
  height: 100%;
  min-width: 1px;
}