.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

p, div, span , h1, h2, h3, h4, h5, h6, select, option {
  user-select: none;
}

.spacer-vertical {
  min-height: 1px;
  margin-top: 3rem;
}

.button {
  color: white;
  border: 1px solid rgb(250, 252, 250);
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  text-align: center;
  transition: all 40ms 60ms ease-out;
}

.light {
  background: rgb(220, 225, 215);
}

.primary-surface, .primary-light {
  color: rgb(40, 35, 35);
}

.primary-surface {
  background: rgb(250, 245, 210);
}

.primary-light {
  background: rgb(225,215,160);
}

.primary-light a, .primary-light li {
  color: rgb(40, 35, 35);
}

.primary, .primary-saturated, .primary-dark {
  color: rgb(245, 240, 240);
}

.primary {
  background: rgb(50,45,30);
}

.primary-saturated {
  background: rgb(90, 60, 35);
}

.primary-medium {
  background: rgb(110, 105, 35);
}

.primary-dark {
  background: rgb(60, 55, 18);
}

.secondary {
  background: rgb(65, 70, 190);
}

.secondary:hover {
  background: rgb(80, 100, 230);
}

.secondary:active {
  background: rgb(30, 35, 100);
}

.secondary-medium {
  background: rgb(50, 55, 150);
}

.secondary-dark {
  background: rgb(30, 35, 100);
}

.darkgrey {
  background: rgb(120, 115, 125);
  color: white;
}