.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

p, div, span , h1, h2, h3, h4, h5, h6, select, option {
  user-select: none;
}

.button {
  background: rgb(110, 140, 110);
  color: white;
  border: 1px solid rgb(250, 252, 250);
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  text-align: center;
  transition: all 40ms 60ms ease-out;
}

/* .button:hover {
  border: 1px solid rgb(100, 180, 100);
  background: rgb(200, 220, 200);
}

.button:active {
  border: 1px solid rgb(30, 40, 30);
  background: rgb(140, 170, 140);
} */

.light {
  background: rgb(220, 225, 215);
}

.green, .green-depth {
  color: white;
}

.green {
  background: rgb(110, 140, 110);
}

.green-depth {
  background: rgb(110,140,110);
  background: linear-gradient(180deg, rgba(110,140,110,1) 0%, rgba(93,118,93,1) 35%, rgba(81,103,81,1) 100%);
}

.primary-surface {
  background: rgb(250, 245, 210);
}

.primary-light {
  background: rgb(225,215,160);
}

.primary {
  background: rgb(50,45,30);
}

.primary-saturated {
  background: rgb(120, 40, 20);
  color: rgb(250, 252, 250);
}

.primary-medium {
  background: rgb(150, 145, 45);
}

.primary-dark {
  background: rgb(80, 75, 25);
}

.secondary {
  background: rgb(65, 70, 190);
}

.secondary:hover {
  background: rgb(90, 100, 210);
}

.secondary:active {
  background: rgb(30, 35, 100);
}

.secondary-medium {
  background: rgb(50, 55, 150);
}

.secondary-dark {
  background: rgb(30, 35, 100);
}

.darkgrey {
  background: rgb(120, 115, 125);
  color: white;
}