.Days {
  height: 4%;
  font-family: "Roboto Slab", serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 4%;
}

.DayTitle {
  text-align: center;
  margin-left: 1rem;
}

.nextDay {
  margin-right: 1rem;
  border-radius: 2px;
  height: 1.2rem;
  line-height: 1.2rem;
  min-width: 2.5rem;
  border-radius: 3px;
}
