.Days {
  height: 4%;
  font-family: "Roboto Slab", serif;
  display: flex;
  align-items: center;
  line-height: 4%;
}

.DayTitle {
  width: 4rem;
  margin-left: 1rem;
}

.nextDay {
  margin-right: 1rem;
  margin-left: auto;
  height: 1.2rem;
  line-height: 1.2rem;
  width: 6rem;
  border-radius: 6px;
}

/* tablet styles */
@media only screen and (max-width: 1200px) {
  .Days {
    height: 3rem;
    margin: 1rem 0px;
    line-height: 3rem;
  }

  .DayTitle {
    text-align: left;
    font-size: 2.4rem;
    width: 12rem;
  }

  .nextDay {
    height: 2.4rem;
    line-height: 2.4rem;
    width: 14rem;
    font-size: 2.2rem;
    border-radius: 10rem;
  }
}

/* mobile styles */
@media only screen and (max-width: 650px) {
  .Days {
    height: 2rem;
    margin: .5rem 0px;
    line-height: 2rem;
  }

  .DayTitle {
    text-align: left;
  }

  .nextDay {
    height: 1.4rem;
    width: 8rem;
  }

  
}