.MenuBar {
  height: 6vh;
  width: 100%;
  border-bottom: rgb(30, 35, 30);
  font-family: "Roboto Slab", serif;
  background: rgb(80, 100, 80);
  color: white;
  display: flex;
  align-items: center;
  margin: auto;
}

.MenuTitle {
  width: 6rem;
  padding-left: 1rem;
}

.MenuTitle a {
  font-family: 'Piedra', sans-serif;
  font-size: 1.8rem;
  line-height: 2rem;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 3px rgba(30, 40, 30, .9);
}

.LoginContainer {
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  justify-content: right;
}

.LoginContainer a, .profileLink {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
}

.facebookLogo {
  background: rgb(60, 60, 240);
  font-family: 'Lato', sans-serif;
  max-height: 1.2rem;
  width: 1.2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebookLogo span {
  position: relative;
  top: 2px;
}

.profileLink {
  cursor: pointer;
}

.hamburgerContainer {
  margin-left: auto;
  margin-right: 1rem;
}

.hamburgerLine {
  background: white;
}

.mobileMenuContainer {
  height: 90vh;
  width: 100vw;
  z-index: 20;
  position: relative;
  margin-left: -100vw;
  top: calc(5vh + 45vh);
  display: flex;
  justify-content: flex-end;
}

.mobileMenu {
  flex-direction: column;
  background: rgb(80, 100, 80);
  position: relative;
  /* top: calc(10vh + 1.5rem); */
  margin: 0;
  padding: 1rem;
  z-index: 10;
}

.mobileMenu > li {
  margin: .8rem 0;
}

.ExitFullscreenGroup {
  
}

.exitLine {
  height: 40%;
  font-size: .5rem;
}

/* Tablet styles */
@media only screen and (max-width: 1200px) {
  .MenuBar {
    height: 10vh;
  }

  .LoginContainer a, .profileLink {
    font-size: 2.4rem;
  }

  .MenuTitle {
    width: 16rem;
  }

  .MenuTitle a {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }

  .mobileMenu > li {
    width: 10rem;
  }

  .LoginContainer a {
    margin-left: 0px;
  }

  .hamburgerLine {
    width: 60px;
    height: 8px;
    margin: 10px 0px;
  }

  .facebookLogo {
    min-height: 2.4rem;
    width: 2.4rem;
    border-radius: 2rem;
  }

  .facebookLogo span {
    top: 2px;
  }
}

/* Mobile styles */
@media only screen and (max-width: 650px) {
  .MenuBar {
    height: 10vh;
  }

  .LoginContainer a {
    margin-left: 0;
  }

  .LoginContainer a, .profileLink {
    font-size: 1.8rem;
  }

  .MenuTitle {
    width: 9rem;
  }

  .MenuTitle a {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }

  .mobileMenu > li {
    width: 6rem;
  }

  .hamburgerLine {
    width: 35px;
    height: 5px;
    margin: 6px 0;
  }

  .facebookLogo {
    max-height: 1.8rem;
    width: 1.8rem;
    border-radius: 1.5rem;
  }
}

